<div class="product mb-4 group border-0 hover:border  p-4 rounded  transition-all duration-500 ">
    
   <a [routerLink]="['/product-details',product._id]">
    <img [src]="product.imageCover" class="w-full" alt="">
    <span class="text-main">{{product.category.name}}</span>
    <h2 class="mb-3">{{product.title.split(" ").splice(0.2).join(" ")}}</h2>
    <div class="flex justify-between mb-4">
        <p>{{product.price}}</p>
      <p>  <i class="fa fa-star text-[#ffc908]"></i>{{product.ratingsAverage}}</p>
    </div>
   </a>
  
    <button


    (click)="handelAddTocart(product._id)"
     class="bg-main text-white w-[90%] p-2 rounded-md mx-auto block opacity-0 group-hover:opacity-100 transition-all duration-500 translate-y-[100%] group-hover:translate-y-[0%]">
     
    
     Add To Card</button>
  
  
</div>
