<div class="container  scale-100 group  ">


    <div  class="grid  lg:grid-cols-3 gap-6 rounded-lg  mb-7 transition ease-in-out delay-100     ">
        @for (item of category; track $index) {
        
        <div class=" border  border-gray   duration-300   shadow-lg  hover:shadow-main ">
        
        <img [src]="item.image" class="h-[300px] w-100 w-full mb-4   border-b-1 "  alt="">
       <div class="card-body p-4 bg-white">
        <h2 class="text-main text-center text-3xl  ">{{item.name}}</h2>
       </div>
        
        </div>
        
        }
        </div>











</div>
