<footer class="footer bg-[#f1f3f2] py-10">
    <div class="container">
        <h2 class="footer__title text-3xl mb-3"> Get The FreshCart app</h2>
        <p class="footer-__description mb-6">we will send you a link,open it on your phone to download the app</p>
        <div class="footer__subscription flex gap-x-4 mb-8">
            <input type="email" class=" w-[90%] rounded" >
            <button class="bg-main text-white  py-1 px-3 w-[10%] rounded">share App</button>
        </div>
        <div class="footer__payment flex justify-between border-t-[1px] border-gray border-b-[1px] py-5">
     <div class="metho">
    <p>payment partner</p>

    </div>
<div class="download">
    <p>Get deliveries FreshCart</p>

</div>
        </div>
    </div>
</footer>