
<form [formGroup]="checkoutForm"   (ngSubmit)="completeOrder()" class="max-w-md mx-auto">



    <div class="relative z-0 w-full mb-5 group">
        <input type="text"  formControlName="details" name="floating_details" id="floating_details" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-900 appearance-none dark:text-white dark:border-main dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer" placeholder=" " required />
        <label for="floating_details" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User details</label>
        
        @if (checkoutForm.get("details")?.errors && checkoutForm.get('details')?.touched) {
            <div class="flex p-4 mb-4 text-sm mt-2 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (checkoutForm.get("details")?.getError('required')) {
                            <li>details is required</li>
    
                        }@else if (checkoutForm.get("details")?.getError('details')) {
                            <li>invalid details</li>
    
                        }
                  </ul>
                
            </div>
          }
    </div>

    <div class="relative z-0 w-full mb-5 group">
        <input type="tel"  formControlName="phone" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-900 appearance-none dark:text-white dark:border-main dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer" placeholder=" " required />
        <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User phone</label>
        
        @if (checkoutForm.get("phone")?.errors && checkoutForm.get('phone')?.touched) {
            <div class="flex p-4 mb-4 text-sm mt-2 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (checkoutForm.get("phone")?.getError('required')) {
                            <li>phone is required</li>
    
                        }@else if (checkoutForm.get("phone")?.getError('phone')) {
                            <li>invalid phone</li>
    
                        }
                  </ul>
                
            </div>
          }
    </div>



    <div class="relative z-0 w-full mb-5 group">
        <input type="text"  formControlName="city" name="floating_city" id="floating_city" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-900 appearance-none dark:text-white dark:border-main dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer" placeholder=" " required />
        <label for="floating_city" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">User city</label>
        
        @if (checkoutForm.get("city")?.errors && checkoutForm.get('city')?.touched) {
            <div class="flex p-4 mb-4 text-sm mt-2 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (checkoutForm.get("city")?.getError('required')) {
                            <li>city is required</li>
    
                        }@else if (checkoutForm.get("city")?.getError('city')) {
                            <li>invalid city</li>
    
                        }
                  </ul>
                
            </div>
          }
    </div>






    
    <button type="submit" class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:ring-main mb-6 ">
        
        
        ONLINE Paymeny
            
        </button>

    



</form>

<div class="max-w-md mx-auto">
   
    <a  routerLink="/allorders"  (click)="cash()" class="text-lg text-main" >OR Cash on delivery?</a>

    
</div>